<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="h-dvh">
    <div class="main flex justify-center sm:justify-start">
      <button class="flex justify-end items-end mt-6" routerLink="tea">
        <div class="green-border p-10 md:ml-44 mb-28 flex">
          <p class="text-beige text-4xl">
            Find out <br class="sm:hidden" />
            about our <br />
            tea collection <br class="sm:hidden" />
            <i class="fa text-beige arrow fa-lg fa-long-arrow-right ml-4"></i>
          </p>
        </div>
      </button>
    </div>
  </body>
</html>
