<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="pt-10 flex flex-col space-y-16 bg-beige w-full pb-16 h-full">
      <h1 class="mt-16 text-4xl my-6 font-bold text-brown text-center">
        TO INSPIRE THE LOVE OF TEA
      </h1>
      <div class="flex">
        <div class="w-8/12 self-center">
          <div class="border-brown dark-brown pl-14 p-6">
            <h4 class="mb-3 font-semibold text-lg">Did you know?</h4>
            <p>
              The history of tea spreads across multiple cultures over the span
              of thousands of years. With the tea plant Camellia sinensis native
              to East Asia and probably originating in the borderlands of
              southwestern China and northern Myanmar. One of the earliest
              accounts of tea drinking is dated back to China's Shang dynasty,
              in which tea was consumed as a medicinal drink. An early credible
              record of tea drinking dates to the 3rd century AD, in a medical
              text written by Chinese physician Hua Tuo. It first became known
              to the western world through Portuguese priests and merchants in
              China during the early 16th century. Drinking tea became popular
              in Britain during the 17th century.
            </p>
          </div>
        </div>
        <img
          src="assets/images/drew-jemmett-qEcWgrTG578-unsplash.jpg"
          class="w-96 ml-8"
        />
        <!-- <div
          class="image w-3/12 overflow-hidden justify-self-center ml-16"
        ></div> -->
      </div>
      <div class="flex justify-between">
        <img
          src="assets/images/igor-miske-CwVE4xCAA8Y-unsplash.jpg"
          class="w-4/12 ml-20"
        />
        <!-- <div class="black-tea w-4/12 overflow-hidden mx-20"></div> -->
        <div class="w-6/12 self-center">
          <div class="dark-brown border-dark-brown p-8">
            <h4 class="mb-3 font-semibold text-lg">Black Tea</h4>
            <p>
              Black tea is the world's most common variety of tea. It is
              fuller-bodied and has the strongest tea taste. Black tea is made
              by exposing the enzymes contained within the tea leaf to oxygen,
              which turn their color from green to brown. Of all the major tea
              types, black teas undergo the longest process of oxidation.
              English Breakfast and Earl Grey are two of the world's most
              popular blends of black tea.
            </p>
          </div>
        </div>
      </div>
      <div class="flex mt-12 space-x-24">
        <div class="w-6/12 self-center">
          <div class="border-green dark-brown pl-14 p-6">
            <h4 class="mb-3 font-semibold text-lg">Green Tea</h4>
            <p>
              Green tea is a type of tea that is made from Camellia sinensis
              leaves and buds that have not undergone the same withering and
              oxidation process which is used to make oolong teas and black
              teas. Green tea originated in China, and since then its production
              and manufacture has spread to other countries in East Asia.
              Several varieties of green tea exist, which differ substantially
              based on the variety of C. sinensis used, growing conditions,
              horticultural methods, production processing, and time of harvest.
            </p>
          </div>
        </div>
        <img
          src="assets/images/arseniy-kapran-p99ZKwVGBRA-unsplash.jpg"
          class="w-4/12"
        />
        <!-- <div class="green-tea w-4/12 overflow-hidden justify-self-center"></div> -->
      </div>
      <div class="flex justify-between">
        <img
          src="assets/images/manki-kim-L82-kkEBOd0-unsplash.jpg"
          class="w-3/12 ml-10"
        />
        <!-- <div class="red-tea w-4/12 overflow-hidden mx-20 self-center"></div> -->
        <div class="w-8/12">
          <div class="dark-brown border-red p-8">
            <h4 class="mb-3 font-semibold text-lg">Red Tea</h4>
            <p>
              Red tea or rooibos tea is an infusion-type drink that originated
              in South Africa. Consumed since the dawn of time by the natives
              who appreciate it for its medicinal virtues, it has seduced the
              hearts of Europeans for some years. Its nutty flavor and
              properties give it many advantages both in terms of taste and
              health. Generally, the leaves undergo oxidation. This process
              produces the distinctive reddish-brown colour of rooibos and
              enhances the flavour. Unoxidised green rooibos is also produced,
              but the more demanding production process for green rooibos
              (similar to the method by which green tea is produced) makes it
              more expensive than traditional rooibos. It carries a malty and
              slightly grassy flavour somewhat different from its red
              counterpart.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
