<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="pt-36 bg-beige text-dark-brown flex flex-col items-center">
      <h3 class="text-center font-semibold text-2xl">Track your order</h3>
      <p class="font-semibold text-center mt-12">
        Use the Id you received in the confirmation email to track your order
      </p>
      <form
        [formGroup]="searchOrderForm"
        (ngSubmit)="searchOrder()"
        class="w-full flex justify-center m-8"
      >
        <div class="flex items-center space-x-4">
          <label class="font-semibold hidden md:flex">Order Id</label>
          <div class="border-yellow">
            <input formControlName="orderId" />
            <button type="submit">
              <i class="fa fa-search fa-lg text-brown"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="w-full flex flex-col items-center" *ngIf="order.id">
        <div class="w-10/12 flex justify-center items-center mt-12">
          <div
            class="w-7 h-7 border-green bg-green text-light rounded-full flex items-center justify-center"
          >
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
          <div class="w-4/12 green-line"></div>
          <div
            class="w-7 h-7 border-green bg-green text-light rounded-full flex items-center justify-center"
          >
            <p class="font-semibold" *ngIf="orderStatus === ''">2</p>
            <i
              class="fa fa-check"
              aria-hidden="true"
              *ngIf="orderStatus !== ''"
            ></i>
          </div>
          <div class="w-4/12 green-line"></div>
          <div
            class="w-7 h-7 border-green text-green rounded-full flex items-center justify-center"
            [ngClass]="orderStatus === '' ? unselectedClass : selectedClass"
          >
            <p class="font-semibold" *ngIf="orderStatus !== 'delivery'">3</p>
            <i
              class="fa fa-check"
              aria-hidden="true"
              *ngIf="orderStatus === 'delivery'"
            ></i>
          </div>
        </div>
        <div class="w-full px-2 md:w-8/12 flex justify-between">
          <div>
            <p class="font-semibold">Confirm Order</p>
            <p class="text-sm text-center">{{ formattedDate }}</p>
          </div>
          <div><p class="font-semibold">Shipping</p></div>
          <div class="text-center">
            <p class="font-semibold">Out for Delivery</p>
            <p class="text-sm">Estimated date</p>
            <p *ngIf="order" class="text-sm">{{ estimatedDelivery }}</p>
          </div>
        </div>
        <div
          *ngIf="order"
          class="w-7/12 flex flex-col items-center my-12 bg-light px-4 py-6 md:py-10 rounded-md"
        >
          <div class="flex flex-col md:flex-row justify-around w-full">
            <p class="font-semibold">Order Id: {{ order.id }}</p>
            <p class="font-semibold">
              Name: {{ order.firstName }} {{ order.lastName }}
            </p>
          </div>
          <div class="w-11/12 md:w-7/12">
            @for (item of order.orderItems; track $index) {

            <div
              class="flex dark-brown font-semibold justify-between mt-8 w-full"
            >
              <p>{{ item.name }}</p>
              <p>{{ item.quantity }} x {{ item.price.toFixed(2) }}$</p>
            </div>
            <div class="border-brown w-full mt-6"></div>
            }
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
