<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="pt-36 bg-beige text-dark-brown flex flex-col items-center">
      <h3 class="text-center font-semibold text-2xl">Track your order</h3>
      <p class="font-semibold text-center mt-12">
        Use the Id you received in the confirmation email to track your order
      </p>
      <form
        [formGroup]="searchOrderForm"
        (ngSubmit)="searchOrder()"
        class="w-full flex justify-center m-8"
      >
        <div class="flex items-center space-x-4">
          <label class="font-semibold">Order Id</label>
          <div class="border-yellow">
            <input formControlName="orderId" />
            <button type="submit">
              <i class="fa fa-search fa-lg text-brown"></i>
            </button>
          </div>
        </div>
      </form>
      <div *ngIf="order" class="w-10/12">
        <h4 class="font-semibold">Order Details {{ order[0].id }}</h4>
      </div>
      <div class="w-10/12 flex justify-center items-center mt-12">
        <div
          class="w-7 h-7 border-green text-green rounded-full flex items-center justify-center"
        >
          <p class="font-semibold">1</p>
        </div>
        <div class="w-4/12 green-line"></div>
        <div
          class="w-7 h-7 border-green text-green rounded-full flex items-center justify-center"
        >
          <p class="font-semibold">2</p>
        </div>
        <div class="w-4/12 green-line"></div>
        <div
          class="w-7 h-7 border-green text-green rounded-full flex items-center justify-center"
        >
          <p class="font-semibold">3</p>
        </div>
      </div>
      <div class="w-8/12 flex justify-between">
        <div>
          <p class="font-semibold">Confirm Order</p>
          <p *ngIf="order">{{ order[0].dateOfOrder }}</p>
        </div>

        <div><p class="font-semibold">Shipping</p></div>

        <div><p class="font-semibold">Out for Delivery</p></div>
      </div>
    </div>
  </body>
</html>
